* {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-black {
    color: #111;
}

.secondary-purple {
    color: #E527B2;
}

.category-title {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}

.cart-typo {
    color: #111;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

/* default css end  */

/* banner css start  */

section.banner-section {
    background: #f9f6e2;
}

.banner-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left {
    text-align: center;
    width: 50%;
}

.banner-image {
    width: 45%;
}

.banner-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
}

.banner-title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: normal;
    margin: 2rem auto;
    width: 90%;
}

.promo {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 500;
}


.default-button {
    background: #E527B2 !important;
    color: #ffffff !important;
    padding: 0.55rem 1.25rem !important;
    border-radius: 5px !important;
}

/* banner css end  */

/* products section start  */
.first-category-title {
    display: block;
}

.products-section {
    background-color: #f8f8f8;
}

.products-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.products-section-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1.5rem;
}

.products-grid-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.product-grid {
    justify-content: space-between;
    display: flex;
    gap: 1.5rem;
    flex: 1;
}

.category{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-box {
    background: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.product-box>div {
    background: #f8f8f8;
    border-radius: 0.5rem;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.product-title {
    color: #111;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
}

.product-price {
    color: rgba(17, 17, 17, 0.50);
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.product-box > img{
    width: 6rem;
    margin: auto;
}

/* side bar css start  */
aside.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: sticky;
    top: 1.5rem;
}

.coupon {
    background: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.coupon>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.coupon>div>input {
    border: 1px solid rgba(17, 17, 17, 0.15);
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    padding: 0.5rem;
    height: 3rem;
}

.coupon-button {
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    height: 3rem;
    background: #E527B2 !important;
    color: #ffffff !important;
    padding: 0.55rem 1.25rem !important;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    background: #ffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.cart-products ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-calculation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

hr {
    width: 100%;
    height: 2px;
    background: rgba(17, 17, 17, 0.15);}

button.make-purchase {
    width: 90%;
    display: block;
    margin: 0px auto -45px;
}