@media screen and (max-width:769px) {
    .banner-container{
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .banner-title{
        margin: 1.5rem auto;
        font-size: 2rem;
        width: 55%;

    }

    .banner-left{
        width: 100%;
    }

    /* banner responsive end */

    .product-grid{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width:577px) {
    .banner-title{
        width: 90%;
    }

    /* banner responsive end */

    .sidebar{
        width: 100%;
        position: static !important;
    }

    .products-section-container{
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .products-grid-container{
        width: 100%;
    }

    .product-grid{
        grid-template-columns: repeat(1, 1fr);
    }
}